.el-alert {
    align-items: start;

    .el-alert__icon {
        margin-top: 12px;
    }
}

.el-alert--warning {

    &,
    * {
        color: $orange;
        font-size: 14px;
        font-weight: normal;
    }
}

