.el-alert {
    align-items: start !important;

    .el-alert__icon {
        margin-top: 12px !important;
    }
}

.el-alert--warning {

    &,
    * {
        color: $orange;
        font-size: 14px;
        font-weight: normal;
    }
}