@import './variables.module.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

.el-button {
  font-weight: bold;
  cursor: pointer;
  a {
    text-decoration: none !important;
  }

  &.link-button {
    padding: 0;

    a {
      padding: 10px 20px;
      display: block;
    }
  }
}

.el-button--warning {
  cursor: pointer;
  color: $orange !important;
  border-color: $orange !important;
  border-width: 2px !important;
  background-color:  $--color-warning-lighter !important;
  font-weight: bold !important;
}

.el-button--warning:hover {
  color: white !important;
  background-color:  $orange !important;
  font-weight: bold !important;
}

.el-button--default {
  border: solid $--color-primary 2px !important;
  color: $--color-primary;
}

.link-button{
  color: $--color-primary !important;
  font-weight: bold !important;
}

.link-button:hover{
  color: white !important;
  font-weight: bold !important;
  background-color: $--color-primary !important;
}

.edit-btn {
  border: solid #409eff 2px !important;
  border-radius: 9px !important;
  color: white !important;
  background-color: #409eff !important;
  margin-left: 0px !important;
  width: 100%;

  &:hover {
    border: solid #66b1ff 2px !important;
    color: white !important;
    background-color: #66b1ff !important;
  }
}

.cancel-btn {
  color: white !important;
  background-color: #fa4c4c !important;
  border-color: #fa4c4c !important;

  &:hover {
    color: white !important;
    background-color: #f78989 !important;
    border-color: #f78989 !important;
  }
}

.confirm-btn {
  color: white !important;
  background-color: #63c731 !important;
  border-color: #63c731 !important;

  &:hover {
    color: white !important;
    background-color: #85ce61 !important;
    border-color: #85ce61 !important;
  }
}