@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-stretch: 100%;
    font-display: swap;
    src: url("@/assets/fonts/OpenSans.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-stretch: 100%;
    font-display: swap;
    src: url("@/assets/fonts/OpenSans-Italic.woff2") format('woff2');
}


* {
    font-family: 'Open Sans', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}