.custom-select {
  padding: 10px 20px;
  border-radius: 8px;
  background: $hsag-lightgrey;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}
.radio-custom {
  display: none;
}
.radio-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: $hsag-white;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.radio-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 10px;
  height: 10px;
  background-color: $hsag-blue-light;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}
.radio-button-disabled::before {
  background-color: #CACACA;
  opacity: 1;
}
.radio-button-disabled {
  background: #E8E8E8;
}
.radio-custom:checked + .radio-button::before {
  opacity: 1;
}
