.header-search-popper {
    .el-select-dropdown__wrap {
        max-height: 550px;

        .header-search-option {
            height: auto;
            min-height: 34px;
            border-bottom: 1px solid $darkGrey;
            width: 810px !important;

            .answer-text {
                white-space: normal;
                line-height: normal;
                font-size: 0.8em;
                margin-top: 0px;
            }
        }
    }
}

#header-search .el-input__wrapper {
    box-shadow: 0 0 0 0px transparent inset !important;
    padding-left: 0;
    padding-right: 0;

    input {
        border-bottom: 1px solid $lightGrey;

        &:focus {
            border-color: #15adff;
        }
    }
}