// base color
$primary: #409EFF;
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$grey: rgb(128 128 128 / 16%);
$darkGrey: #606266;
$lightGrey: #bfcbd9;
$orange: #c06336;

// sidebar
$menuText: $lightGrey;
$menuActiveText: $primary;
$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 233px;

// Styleguide Colors
$hsag-blue: #004175;
$hsag-blue-light:#2F8EE9;
$hsag-blue-dark:#0B3863;
$hsag-blue-shade: #0D4A7C;
$hsag-green:#97BE0D;
$hsag-green-light:#B3DC7D;
$hsag-green-dark:#5E8A25;
$hsag-green-shade:#88B117;
$hsag-green-shade-dark:#81A816;
$hsag-orange:#F9B000;
$hsag-isa-orange:#EC7A34;
$hsag-lightgrey:#F1F6F9;
$hsag-bluegrey:#8393A7;
$hsag-white:#ffffff;
$hsag-black:#000000;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}